In [1]:
import requests
import json
import pandas as pd
import datetime as dt

In [2]:
s = requests.Session()

In [3]:
api_url = 'http://localhost:5000/api/v1/resources/{}'

In [6]:
r = s.get(api_url.format('get_people'), params={'personId': 4}).json()

In [7]:
# r.content.decode() # 
r['results']

'{"PersonID":{"0":1,"1":2,"2":3,"3":4},"PersonName":{"0":"Mike","1":"Michelle","2":"Jake","3":"Lottie"},"RoleID":{"0":2,"1":2,"2":3,"3":3},"CurrentBalance":{"0":0,"1":0,"2":0,"3":0}}'

In [8]:
df = pd.DataFrame(json.loads(r['results']))
# list(zip(df['ChoreInstanceID'], df['name'], df['Completed']))
df

   PersonID PersonName  RoleID  CurrentBalance
0         1       Mike       2               0
1         2   Michelle       2               0
2         3       Jake       3               0
3         4     Lottie       3               0

In [104]:
for i in [9, 10,11,12]:
    s.post(api_url.format('uncomplete_chore_instance'), params={'choreInstanceId': i}) # .json()

In [88]:
r

In [7]:
#    name: str = None,
#    schedule: str = '1D',
#    start_date: dt.date = dt.date.today(),
#    start_time: dt.time = dt.time(7),
#    window: str = '4H',
#    repeats: bool = True,
#    active: bool = True,

s.post(api_url.format('create_chore'), 
    headers={
            "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
        },
    data={
            'name': 'Test API chore',
            'schedule': '2D',
            'start_date': dt.date.today() + dt.timedelta(days=1),
            'start_time': dt.time(8),
            'window': '6H',
            'repeats': False,
            'active': True
        }
    )