In [25]:
import requests
import json
import pandas as pd

In [3]:
s = requests.Session()

In [40]:
api_url = 'http://localhost:5000/api/v1/resources/{}'

In [78]:
r = s.post(api_url.format('get_chore_counts_by_person'), params={'personId': 2}).json()

In [79]:
r['results']

[[3, 'Jake', 1], [4, 'Lottie', 2], [2, 'Michelle', 1], [1, 'Mike', 1]]

In [77]:
df = pd.DataFrame(json.loads(r['results']))
# list(zip(df['ChoreInstanceID'], df['name'], df['Completed']))
df

                     0           1           2           3
PersonID             3           4           2           1
PersonName        Jake      Lottie    Michelle        Mike
ChoreDate   2023-01-26  2023-01-26  2023-01-26  2023-01-26
ChoreCount           1           2           1           1