In [1]:
import requests
import json
import pandas as pd
import datetime as dt

In [2]:
from ChoreTracker import utils

In [3]:
utils.get_chores()

,ChoreID,name,schedule,start_date,start_time,window,repeats,active
0,1,Two week test,1W,2023-01-05,07:00:00,4H,1,1
1,2,One week test,1W,2023-01-12,07:00:00,4H,1,1
2,3,Today test,1W,2023-01-19,07:00:00,4H,1,1
3,4,Two day yesterday test,2D,2023-01-18,07:00:00,4H,1,1
4,5,Two day today test,2D,2023-01-19,07:00:00,4H,1,1
5,6,Two day today inactive test,2D,2023-01-19,07:00:00,4H,1,0
6,7,Test API chore,2D,2023-01-28,08:00:00,6H,0,1
7,8,Test Form chore,1D,2023-01-28,"(datetime.time(7, 0),)",4H,1,0
8,9,Mr Michael E Roberts,1W,2023-01-28,10,12H,0,1
9,10,Team Charter,1D,2023-01-28,07:00:00,4H,0,1
10,11,Test chore,3D,2023-03-02,07:00,4H,1,1
11,25,New test chore,2D,2023-03-02,21:37,4H,1,1

In [4]:
utils.get_responsibilities()

   ResponsibilityID  PersonID  ChoreID
0                 1         2        6
1                 3         2        2
2                 4         3        3
3                 5         4        4
4                 6         4        5
5                 7         4        6
6                 8         1        1
7                 9         4        1
8                10         1       25

In [5]:
utils.complete_chore_instance(choreInstanceId=16, personId=4)

True

In [6]:
utils.uncomplete_chore_instance(choreInstanceId=16, )

True

In [7]:
utils.get_chores_table()

,PersonName,ChoreDate,name,CompletedBy,ChoreInstanceID,Completed,Validated,Banked
0,Jake,2023-01-19,Today test,,3,0,0,0
1,Lottie,2023-01-19,Two day today test,,4,0,0,0
2,Lottie,2023-01-19,Two week test,1,1,1,1,1
3,Michelle,2023-01-19,One week test,,2,0,0,0
4,Mike,2023-01-19,Two week test,1,1,1,1,1
5,Lottie,2023-01-22,Two day today test,,8,0,0,0
6,Lottie,2023-01-23,Two day today test,,7,0,0,0
7,Lottie,2023-01-24,Two day today test,,6,0,0,0
8,Lottie,2023-01-25,Two day today test,,5,0,0,0
9,Jake,2023-01-26,Today test,3,11,1,0,0
10,Lottie,2023-01-26,Two day yesterday test,4,12,1,0,0
11,Lottie,2023-01-26,Two week test,4,9,1,0,0
12,Michelle,2023-01-26,One week test,2,10,1,0,0
13,Mike,2023-01-26,Two week test,4,9,1,0,0
14,Lottie,2023-01-27,Two day today test,,13,0,0,0
15,Lottie,2023-01-28,Two day yesterday test,,14,0,0,0
16,Lottie,2023-02-27,Two day yesterday test,,16,0,0,0
17,Lottie,2023-02-28,Two day today test,4,17,1,0,0
18,Jake,2023-03-02,Today test,3,20,1,0,0
19,Lottie,2023-03-02,Two day today test,4,21,1,0,0
20,Lottie,2023-03-02,Two week test,4,18,1,0,0
21,Michelle,2023-03-02,One week test,2,19,1,0,0
22,Mike,2023-03-02,Two week test,4,18,1,0,0
23,Mike,2023-03-02,New test chore,1,23,1,0,0

In [15]:
utils.get_active_chores()

,ChoreID,name,schedule,start_date,start_time,window,repeats,active,ActiveToday
0,1,Two week test,1W,2023-01-05,07:00:00,4H,1,1,True
1,2,One week test,1W,2023-01-12,07:00:00,4H,1,1,True
2,3,Today test,1W,2023-01-19,07:00:00,4H,1,1,True
4,5,Two day today test,2D,2023-01-19,07:00:00,4H,1,1,True
8,11,Test chore,3D,2023-03-02,07:00,4H,1,1,True
9,25,New test chore,2D,2023-03-02,21:37,4H,1,1,True

In [16]:
ChoreID=25
chore_date = dt.datetime.now()

utils.query_db(
                f"""
                select * from choreinstances where ChoreDate='{chore_date.date()}'
                """
            )

,ChoreInstanceID,ChoreID,ChoreDate,Completed,CompletedBy,Validated,Rate,Banked,BankedDate
0,18,1,2023-03-02,1,4,0,45,0,None
1,19,2,2023-03-02,1,2,0,45,0,None
2,20,3,2023-03-02,1,3,0,45,0,None
3,21,5,2023-03-02,1,4,0,45,0,None
4,23,25,2023-03-02,1,1,0,45,0,None
5,24,11,2023-03-02,1,2,0,45,0,None

In [10]:

utils.update_db(f"""
        delete from choreinstances where date(ChoreDate)=date('{chore_date.date()}') and Completed = 0
    """)

In [13]:
utils.query_db(f"""
select * from choreinstances where date(ChoreDate)=date('{chore_date.date()}') and Completed = 0
""")

,ChoreInstanceID,ChoreID,ChoreDate,Completed,CompletedBy,Validated,Rate,Banked,BankedDate
0,24,11,2023-03-02,0,None,0,45,0,None

In [12]:
utils.update_choreinstances()

In [26]:
utils.get_person_chores(personId=4)

PersonID: 4

                 name  ChoreInstanceID  Completed
0       Two week test               18          1
1  Two day today test               21          1
2       Two week test               22          0
3  Two day today test               25          0

In [2]:
s = requests.Session()

In [3]:
api_url = 'http://localhost:5000/api/v1/resources/{}'

In [4]:
r = s.get(api_url.format('get_chores'), params={'personId': 4}).json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [25]:
# r.content.decode() # 
r['results']

'{"ChoreID":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9},"name":{"0":"Two week test","1":"One week test","2":"Today test","3":"Two day yesterday test","4":"Two day today test","5":"Two day today inactive test","6":"Test API chore","7":"Test Form chore","8":"Mr Michael E Roberts"},"schedule":{"0":"1W","1":"1W","2":"1W","3":"2D","4":"2D","5":"2D","6":"2D","7":"1D","8":"1W"},"start_date":{"0":"2023-01-05","1":"2023-01-12","2":"2023-01-19","3":"2023-01-18","4":"2023-01-19","5":"2023-01-19","6":"2023-01-28","7":"2023-01-28","8":"2023-01-28"},"start_time":{"0":"07:00:00","1":"07:00:00","2":"07:00:00","3":"07:00:00","4":"07:00:00","5":"07:00:00","6":"08:00:00","7":"(datetime.time(7, 0),)","8":"10"},"window":{"0":"4H","1":"4H","2":"4H","3":"4H","4":"4H","5":"4H","6":"6H","7":"4H","8":"12H"},"repeats":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":1,"6":0,"7":1,"8":0},"active":{"0":1,"1":1,"2":1,"3":1,"4":1,"5":0,"6":1,"7":0,"8":1}}'

In [26]:
df = pd.DataFrame(json.loads(r['results']))
# list(zip(df['ChoreInstanceID'], df['name'], df['Completed']))
df

,ChoreID,name,schedule,start_date,start_time,window,repeats,active
0,1,Two week test,1W,2023-01-05,07:00:00,4H,1,1
1,2,One week test,1W,2023-01-12,07:00:00,4H,1,1
2,3,Today test,1W,2023-01-19,07:00:00,4H,1,1
3,4,Two day yesterday test,2D,2023-01-18,07:00:00,4H,1,1
4,5,Two day today test,2D,2023-01-19,07:00:00,4H,1,1
5,6,Two day today inactive test,2D,2023-01-19,07:00:00,4H,1,0
6,7,Test API chore,2D,2023-01-28,08:00:00,6H,0,1
7,8,Test Form chore,1D,2023-01-28,"(datetime.time(7, 0),)",4H,1,0
8,9,Mr Michael E Roberts,1W,2023-01-28,10,12H,0,1

In [104]:
for i in [9, 10,11,12]:
    s.post(api_url.format('uncomplete_chore_instance'), params={'choreInstanceId': i}) # .json()

In [88]:
r

In [7]:
#    name: str = None,
#    schedule: str = '1D',
#    start_date: dt.date = dt.date.today(),
#    start_time: dt.time = dt.time(7),
#    window: str = '4H',
#    repeats: bool = True,
#    active: bool = True,

s.post(api_url.format('create_chore'), 
    headers={
            "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
        },
    data={
            'name': 'Test API chore',
            'schedule': '2D',
            'start_date': dt.date.today() + dt.timedelta(days=1),
            'start_time': dt.time(8),
            'window': '6H',
            'repeats': False,
            'active': True
        }
    )